<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="hotelService" scope="prototype" class="ua.ithillel.tripplanner.service.HotelInMemoryService">-->
<!--        <constructor-arg ref="extHotelClientUSA"/>-->
<!--    </bean>-->

<!--    <bean id="extHotelClientUA"-->
<!--          scope="singleton"-->
<!--          class="ua.ithillel.tripplanner.client.ExternalUkraineHotelClient"/>-->

<!--    <bean id="extHotelClientUSA"-->
<!--          scope="singleton"-->
<!--          class="ua.ithillel.tripplanner.client.ExternalHotelClientUSA"/>-->

<!--    <bean id="..." class="...">-->
<!--        &lt;!&ndash; collaborators and configuration for this bean go here &ndash;&gt;-->
<!--    </bean>-->

<!--    <bean id="..." class="...">-->
<!--        &lt;!&ndash; collaborators and configuration for this bean go here &ndash;&gt;-->
<!--    </bean>-->

    <!-- more bean definitions go here -->

</beans>